.timer {
  position: absolute;
  top: 12px;
  left: 196px;
  width: 120px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .timer-container { position: relative; width: 100%; height: 100%; }
}

.countdown-timer {
  position: relative;
  width: 100%;
  font-family: "_numbers";
  font-size: 32px;
  text-shadow:
    -4px -4px 0 #130622,
     0   -4px 0 #130622,
     4px -4px 0 #130622,
     4px  0   0 #130622,
     4px  4px 0 #130622,
     0    4px 0 #130622,
    -4px  4px 0 #130622,
    -4px  0   0 #130622;
  .timer-a {
    color: #6b29a3;
  }
  .timer-b {
    color: #dec0f8;
    margin-top: -52px;
  }
}